{% extends "base.html" %}
{% block title %}Tour Merchandise{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">Main</a></li>
        <li><a href="/albums">Albums</a></li>
        <li class="active">Details</li>
    </ol>
    <h1>Tour Merchandise</h1>
    <h2>Album details</h2>
    <form class="form" action="#" method="post">
        <div class="form-group">
            <label for="titleInput">Title</label>
            <input type="text" class="form-control" id="titleInput"
                   name="title" value="{{ album.title }}"
                   oninput="updateDescription()">
        </div>
        <div class="form-group">
            <label for="formatSelect">Format</label>
            <select class="form-control" id="formatSelect"
                    name="rec_format"
                    oninput="updateDescription()">
                {% for rec_format in formats %}
                    {% if rec_format == album.rec_format %}
                        <option selected="selected">{{ rec_format }}</option>
                    {% else %}
                        <option>{{ rec_format }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="priceInput">Price</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control"
                       id="priceInput" min="0" step="any"
                       size="6" name="price"
                       value="{{ album.price }}">
                <!-- TODO validate for number -->
            </div>
        </div>
        <div class="form-group">
            <label for="inventoryInput">Current quantity</label>
            <input type="number" class="form-control" id="inventoryInput"
                   name="inventory" min="0" value="{{ album.inventory }}">
            <!-- TODO validate for number -->
        </div>
        <div class="form-group">
            <label for="desc">Description</label>
            <input type="text" class="form-control" id="desc"
                   value="{{ album.description }}" readonly>
        </div>
        <button type="submit" class="btn btn-default">Update</button>

        <!-- TODO delete button -->
    </form>
    {% block jsloads %}
        <script>
            function updateDescription(){
                //this combines the values from some fields and displays them
                //in the description field
                var title = document.getElementById("titleInput").value;
                var rec_format = document.getElementById("formatSelect").value;
                document.getElementById("desc").value =
                    title + ", on " + rec_format;
            }
        </script>
    {% endblock %}

{% endblock %}