{% extends "base.html" %}
{% block title %}Tour Merchandise{% endblock %}
{% block content %}
    <h1>Tour Merchandise</h1>
    <div class="table-responsive">
        <table class="table table-striped">

            <tr>
                <th>Table header here</th> <!-- Can we query model for field names? -->
            </tr>
            {% for album in all_albums %}
                <tr>
                    <td>{{ album }}</td>
                </tr>
            {% else %}
                <tr><td>No entries</td></tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}