{% extends "base.html" %}
{% block title %}Tour Merchandise{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">Main</a></li>
        <li class="active">Events</li>
    </ol>
    <h1>Tour Merchandise</h1>
    <h2>New Event</h2>
    <form class="form" action="#" method="post">
        <div class="form-group">
            <label for="venueInput">Venue name</label>
            <input type="text" class="form-control" id="styleInput"
                   name="venue_name" placeholder="name of venue">
        </div>
        <div class="form-group">
            <label for="cityInput">City</label>
            <input class="form-control" id="cityInput" name="city">
        </div>
        <div class="form-group">
            <label for="stateInput">State</label>
            <input class="form-control" id="stateInput" name="state">
        </div>
        <div class="form-group">
            <label for="countryInput">Country</label>
            <input class="form-control" id="countryInput" name="country">
        </div>
        <div class="form-group">
            <label for="dateInput">Date</label>
            <div class="input-group date" data-provide="datepicker">
                <input class="form-control" id="dateInput" name="event_date" type="text">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-th"></i>
                </span>
            </div>
            <!--TODO validate input -->
        </div>
        <button type="submit" class="btn btn-default">Add</button>
    </form>
    <div class="table-responsive">
        <h2>Events</h2>
        <table class="table table-hover">
            <tr>
                <th>ID#</th> <!-- Can we query model for field names? -->
                <th>Venue</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Date</th>

            </tr>
            {% for event in all_events %}
                <tr class="clickable-row" data-href="/event/{{ event.event_id }}">
                    <td>{{ event.event_id }}</td>
                    <td>{{ event.venue_name }}</td>
                    <td>{{ event.city }}</td>
                    <td>{{ event.state }}</td>
                    <td>{{ event.country }}</td>
                    <td>{{ event.event_date}}</td> <!-- format? -->
                </tr>
            {% else %}
                <tr><td>No entries</td></tr>
            {% endfor %}
        </table>
    </div>
    {% block custom_js %}
        <script type="text/javascript">
            // options for bootstrap-datepicker component
            $('.input-group.date').datepicker({
                format: "yyyy-mm-dd",
                maxViewMode: 2,
                todayBtn: "linked",
                orientation: "bottom auto",
                daysOfWeekHighlighted: "0,6",
                autoclose: true,
                todayHighlight: true
            });
        </script>
        <script>
            // http://stackoverflow.com/questions/17147821/how-to-make-a-whole-row-in-a-table-clickable-as-a-link
            jQuery(document).ready(function($) {
                $(".clickable-row").click(function() {
                    window.location = $(this).data("href");
                });
            });
        </script>
    {% endblock %}

{% endblock %}