{% extends "base.html" %}
{% block title %}Tour Merchandise{% endblock %}
{% block content %}
    <h1>Tour Merchandise</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <!-- TODO for now we fake the table and use __repr__.
                 In the future the merch __repr__ will return a useful format we can parse into
                 table cells -->
            <tr>
                <th>Table header here</th> <!-- Can we query model for field names? -->
            </tr>
            {% for item in all_merch %}
                <tr>
                    <td>{{ item }}</td>
                </tr>
            {% else %}
                <tr><td>No entries</td></tr>
            {% endfor %}
        </table>
    </div>

    <h2>Inventory</h2>
{% endblock %}