{% extends "base.html" %}
{% block title %}Tour Merchandise{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">Main</a></li>
        <li class="active">T-shirts</li>

    </ol>
    <h1>Tour Merchandise</h1>
    <h2>New T-shirt</h2>
    <form class="form" action="#" method="post">
        <div class="form-group">
            <label for="newTshirtStyle">Style</label>
            <input type="text" class="form-control" id="newTshirtStyle"
                   name="style" placeholder="a gnarly t-shirt style"
                   oninput="updateDescription()">
        </div>
        <div class="form-group">
            <label for="sizeSelect">Size</label>
            <select class="form-control" id="sizeSelect" name="size"
                    onchange="updateDescription()">
                {% for size in sizes %}
                    <option>{{ size }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="newPrice">Price</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control" id="newPrice"
                       placeholder="0.00" min="0" step="any"
                       size="6" name="price">
                <!-- TODO validate for number -->
            </div>
        </div>
        <div class="form-group">
            <label for="inven">Starting quantity</label>
            <input type="number" class="form-control" id="inven"
                   min="0" name="inventory">
            <!-- TODO validate for number -->
        </div>
        <div class="form-group">
            <label for="desc">Description</label>
            <input type="text" class="form-control" id="desc" readonly>
        </div>
        <button type="submit" class="btn btn-default">Add</button>
    </form>
    <div class="table-responsive">
        <h2>T-Shirts</h2>
        <table class="table table-striped">
            <tr>
                <th>ID#</th><!-- Can we query model for field names? -->
                <th>Description</th>
                <th>Price</th>
                <th># in stock</th>
                <th>Style</th>
                <th>Size</th>

            </tr>
            {% for tshirt in all_tshirts %}
                <tr>
                    <td>{{ tshirt.merch_id }}</td>
                    <td>{{ tshirt.description }}</td>
                    <td>{{ "$%5.2f"|format(tshirt.price) }}</td>
                    <td>{{ tshirt.inventory }}</td>
                    <td>{{ tshirt.style }}</td>
                    <td>{{ tshirt.size }}</td>
                </tr>
            {% else %}
                <tr><td>No entries</td></tr>
            {% endfor %}
        </table>
    </div>
    {% block custom_js %}
        <script>
            function updateDescription(){
                //this combines the values from some fields and displays them
                //in the description field
                var style = document.getElementById("newTshirtStyle").value;
                var size = document.getElementById("sizeSelect").value;
                document.getElementById("desc").value =
                    style + " t-shirt, " + size;
            }
        </script>
    {% endblock %}

{% endblock %}